.b1 {
  background-color: crimson;
  border: 1px solid crimson;
}
.b2 {
  background-color: darkgreen;
  border: 1px solid darkgreen;
}
.b3 {
  background-color: darkblue;
  border: 1px solid darkblue;
}
.b4 {
  background-color: purple;
  border: 1px solid purple;
}